@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.bg-image {
  background-image: url("./imageFolder/images/Background.jpg");
}
.bg-image2 {
  background-image: url("./imageFolder/images/background2.jpeg");
}

.bg-image3 {
  background-image: url("./imageFolder/images/background3.jpeg");
  opacity: 2;
}
